html body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.print-format {
	background-color: white;
	border-radius: 8px;
	max-width: 8.3in;
	min-height: 11.69in;
	padding: 0.75in;
	margin: auto;
	color: var(--gray-900);
}

.print-format div,
.print-format span,
.print-format td,
.print-format h1,
.print-format h2,
.print-format h3,
.print-format h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.action-banner {
	text-align: center;
	display: block;
}

td {
	display: table-cell;
	vertical-align: inherit;
	unicode-bidi: isolate;
}

.print-1 {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	margin: 5px;
}

.print-1:hover {
	color: #fff;
	background-color: #449d44;
	text-decoration: none;
}

.print-2 {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border-radius: 4px;
	color: #fff;
	background-color: #5bc0de;
}

.print-2:hover {
	color: #fff;
	background-color: #31b0d5;
	text-decoration: none;
}

.Installation.Note .print-full {
	width: 100% !important;
	padding: 0 !important;
	max-width: initial !important;
	min-height: initial !important;
}